html {
    background-color: white;
    font-size: 16px;
}

.IssueCard {
    border: 1px solid #D1D5DA;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 2%;
    background-color: white;
    
}

.IssueCard:hover {
    background-color: #F7F8FA;
}

.IssueCard a {
    color: black;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    
}


.IssueCard a:hover{
    color: #0666D6;
}

h1 {
    color: black;
    text-align: center;
    border: 1px solid #D1D5DA;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 0px;
    background-color: #F7F8FA;
    padding: 1%;
}

#PostInfo {
    font-size: 12px;
    padding-left: 1%;
    color: #596069;
}

